.header {
  padding: 1rem 0 3rem;
}

.title {
  color: #000000;
  text-decoration: none;
}

.navItem {
  color: #999999;
  text-decoration: none;
}

.activeNavItem {
  color: #404040;
  text-decoration: none;
}
